@font-face {
  font-family: 'KCC-Ganpan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

.logo {
  padding: 15px 20px;
}

#codeeatsLogo {
  width: 222px;
  height: 42px;
  cursor: pointer;
}

.title {
  text-align: center;
  margin-bottom: 2%;
  font-family: 'KCC-Ganpan';
}

.review {
  padding: 15px;
  font-family: 'KCC-Ganpan';
}

.card-header {
  background-color: aliceblue;
}

.orderstatus {
  float: left;
  margin-right: 1%;
}

.menu {
  float: left;
}

.quantity {
  float: left;
  margin-right: 1%;
}

.create {
  background-color: aliceblue;
}

#staticBackdrop {
  font-family: 'KCC-Ganpan';
}

#modalcontent {
  background-color: aliceblue;
}
